@import "components/variables";
@import "components/bootstrap";

// injector
// endinjector

@import "components/mixin";
@import "components/grid";
@import "components/typography";
@import "components/common";

html {
//  position: relative;
//  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.32em;
  font-weight: 400;

  &.footer-fixed-bottom {
    height: 100%;

    .footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }

  &.header-fixed {
    padding-top: 68px;

    > .header {
      position: fixed;
      z-index: 1100;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &.notAuth {
    background: $color-page-bg;
  }
}

.footer {
  @extend .grid__padding-15;

  color: $color-gray;
  text-align: center;
}

label {
  color: $color-dark-gray;
}

.notAuth {

  &__headerBlueBg {
    height: 200px;
    background: $color-blue;
  }

  &__content {
    @extend .grid__padding-0-15;

    position: relative;
    top: -150px;

    width: 100%;

    &-header {
      @extend .text__size-42;
      @extend .text__weight-medium;

      color: white;
      text-align: center;

      padding-bottom: 15px;
    }

    &__form {
      @include app_box-shadow;
      @extend .grid__padding-0-15-15;

      background: white;

      &-header {
        margin: -1px -16px 25px -16px;

        ul {
          @extend .clean;

          width: 100%;
          margin: 0;
          padding: 0;

          list-style: none;

          li {
            width: 50%;
            padding: 0;
            display: block;

            float: left;

            text-align: center;

            a {
              @extend .grid__padding-15-0;

              display: block;

              text-decoration: none;
              color: white;

              background: darken($color-blue, 3.5%);

              &:hover {
                background: darken($color-blue, 6.5%);
              }

              &.active {
                background: darken($color-blue, 8.5%);
              }
            }
          }
        }
      }
    }
  }
}

.header {
  @extend .clean;

  color: white;
  background: $color-blue;
  height: 68px;

  &__toggleMenu {
    width: 68px;
    height: 68px;
    top: 0;
    left: 0;
    padding-top: 23px;

    float: left;
    position: relative;

    cursor: pointer;

    background: darken($color-blue, 3.5%);
    transition: padding 150ms ease-in-out, background 150ms ease-in-out;

    div {
      width: 40%;
      height: 2px;
      margin: 0 auto;

      background-color: #fff;

      transition: all 150ms ease-in-out;

      & + div {
        margin-top: 8px;
      }
    }

    &:not(.in):hover {
      background: darken($color-blue, 7%);

      padding-top: 21px;

      div + div {
        margin-top: 10px;
      }
    }

    &.in {
      background: darken($color-blue, 7%);

      div {
        &:first-child {
          transform: rotate(45deg) translate(7px, 7px) scale(1.35, 1);
        }
        &:nth-child(2) {
          transform: translate(-62px, 0px);
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg) translate(7px, -7px) scale(1.35, 1);
        }
      }
    }
  }

  &__logotype {
    @extend .text__size-28;
    @extend .text__weight-medium;

    height: 68px;
    float: left;
    margin-left: 15px;

    line-height: 64px;
  }

  &__dashboard {
    padding-right: 20px;
    height: 68px;

    float: right;

    display: none;

    .display__table {
      height: 100%;
    }

    &--user_pick {
      @extend .round;
      margin-right: 20px;
    }
  }
}

.menu {
  position: fixed;
  z-index: 1100;

  top: 68px;
  right: 0;
  bottom: 0;
  left: 0;

  visibility: hidden;
  transition: visibility $transition-time ease-in-out;

  &__substrate {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__navbar {
    position: absolute;
    z-index: 30;

    top: 0;
    bottom: 0;
    left: -280px;

    width: 280px;

    background: #f5f5f5;
    border-right: 1px solid #e9e9e9;
  }

  &__dashboard {
    text-align: center;

    padding: 20px 0 13px;

    &--user_pick {
      @extend .round;
    }

    &--user_name {
      display: block;
      padding-top: 15px;

      a {
        font-size: 140%;
        color: #333;
      }
    }

    &--tools {
      padding-top: 5px;
    }
  }
}

/* Animated menu */

.menu {
  .menu__navbar {
    transition: left $transition-time ease-in-out;
  }

  &.in {
    visibility: visible;

    .menu__navbar {
      left: 0;
    }
  }
}

.content {
  padding: 40px 15px 30px;
}

.full-map {
  position: absolute;
  top: 68px;
  right: 0;
  bottom: 0;
  left: 0;
}

@import "components/media";
