@mixin app_box-shadow() {
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.15);
  border: {
    top: 1px solid darken($color-page-bg, 3%);
    left: 1px solid darken($color-page-bg, 3%);
    right: 1px solid darken($color-page-bg, 3%);
    bottom: 1px solid darken($color-page-bg, 12%);
  };
}