.has-feedback.has-inverse .form-control {
    padding-left: 34px;
    padding-right: 12px;
}

.has-feedback.has-inverse label ~ .form-control-feedback {
    left: 0;
}

.btn__width-100 {
    width: 100%;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: 0;
}

.navbar-collapse {
    border-top: none;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #eee;
}

.dropdown-menu .divider {
    background: #eee;
}

.navbar-nav {
  > li {
    float: none;

    > a {
      color: #333333;
    }
  }
}

a.white {
  color: white;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.round {
  display: inline-block;
  border-radius: 50%;
}