.grid__padding-15 {
  padding: 15px;
}

.grid__padding-0-15 {
  padding: 0 15px;
}

.grid__padding-15-0 {
  padding: 15px 0;
}

.grid__padding-0-15-15 {
  padding: 0 15px 15px;
}

.grid__padding-40-0-15 {
  padding: 40px 0 15px;
}

.grid__marginTop-0 {
  margin-top: 0;
}

.display__table {
  display: table;
  width: 100%;

  &--fixed {
    table-layout: fixed;
  }

  &_row {
    display: table-row;
  }

  &_cell {
    display: table-cell;

    &--middle {
      vertical-align: middle;
    }
  }
}

.clean {
  &::before {
    display: table;
    content: ' ';
  }
  &::after {
    display: table;
    content: ' ';
    clear: both;
  }
}