@media (min-width: 480px) {
  .notAuth .notAuth__content {
    width: 390px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 7.5px -15px;

    > li {
      float: none;

      > a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      > li > a,
      .dropdown-header {
        line-height: 1.428571429;
        padding: 5px 15px 5px 25px;
      }
    }
  }

  .header {
    &__dashboard {
      display: block;
    }
  }

  .menu {
    &__dashboard {
      display: none;
    }
  }

  .text__col-sm-text-right {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
