.text__size-28 {
  font-size: 28px;
}
.text__size-42 {
  font-size: 42px;
}

.text__weight-medium {
  font-weight: 500;
}
.text__weight-bold {
  font-weight: 700;
}

.text__color-gray {
  color: $color-gray;
}